.nav {
    background: hsl(210,12.2%,16.1%);
    padding: 5px 30px 5px 0px;
    max-width: 100% !important;
}

.ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: auto;
    flex-direction: row;
}

.navElementsBase {
    vertical-align: middle;
    display: inline;
}

.pageName {
    composes: navElementsBase;
    font-size: 28px;
    order: 0;
}

.subPages {
    composes: navElementsBase;
    font-size: 18px;
    order: 1;
}

/* .ul li:not(:first-child):before {
    font-size: 28px;
    content: " | ";
} */

.navLink {
    text-decoration: none;
    color: hsl(255,0%,100%);
    font-weight: 600;
}

.navLink:hover {
    color: hsla(0,0%,100%,.7);
}

.navLink:active {
    text-decoration: underline;
}
